services:
  postgres:
    image: postgres:17
    restart: on-failure
    environment:
      POSTGRES_PASSWORD: admin123
    ports:
      - 5432:5432
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data: